*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, 
    #5198ba, #54b7c4, #4c79b2, #54acc3, #4c84b4);
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.content{
    text-align: center;
    display: flex;
    width: 100%;
    margin-left: 15%;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hundred{
    font-size: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: -30px;
}

#zero1{
    font-size: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: -15px;
}

#zero2{
    font-size: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#days{
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    margin-top: 170px;
    margin-left: -360px;
    font-size: 120px;
    
}

#challanger{
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    margin-top: 300px;
    margin-left: -390px;
    font-size: 30px;
    
}