*{
    padding: 0;
    margin: 0;
}

.container{
    width: 400px;
    height: 400px;
    background-color: rgb(12, 19, 59);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}

.content{
    width: 300px;
    height: 240px;
    background-color: rgb(255, 255, 255);
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 10px 10px 10px black;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

#list{
    color: aliceblue;
    position: absolute;
    top: 49%;
    left: 10%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
}

.menu{
    width: 300px;
    height: 60px;
    background-color: rgb(44, 75, 177);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined{
    color: aliceblue;
    position: absolute;
    top: 49%;
    left: 90%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
}

.material-symbols-outlined:hover{
    font-weight: bolder;
    cursor: pointer;
}

h3{
    padding-top: 20px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

ul{
    color: rgb(85, 85, 85);
    width: 260px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 14px;
    list-style-type: symbols("*");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li{
    margin: 15px;
}

li:hover{
    color: rgb(27, 56, 56);
}

.time{
    font-size: 12px;
    display: block;
}

.name{
    font-weight: bold;
    margin: 0px;
}

.classAnimationInto{
    animation: animationSide 1s normal;
}

.classAnimationIntoLeft{
    animation: animationSideLeft 1s normal;
}

.backMenu{
    width: 170px;
    height: 270px;
    background-color: rgb(44, 54, 112);
    margin-top: 65px;
    margin-left: 65px;
    border-radius: 5px;
    overflow: hidden;
}

.options {
    margin-top: 10px;
    margin-left: 0;
}

.options li{
    width: 100%;
    height: 30px;
    padding-left: 25px;
    color: rgb(129, 144, 216);
    list-style-type: none;
    padding-top: 20px;
    margin: 0;
}

.options li:hover {
    background-color: rgb(57, 70, 143);
}

.input{
    width: 230px;
    height: 35px;
    margin-left: 20px;
    margin-top: -35px;
    position: absolute;
    border-radius: 20px;
    border: 0px;
    display: none;
}

.input::placeholder{
    width: 210px;
    padding-left: 20px;
}

.input:focus{
    width: 230px;
    outline:none;
}

@keyframes animationSide {
    from{
   
    }to{
        margin-left: 150px;    
    }
}

@keyframes animationSideLeft {
    from{
        margin-left: 150px;     
    }to{
        margin-left: 0px;     
    }
}

@keyframes animationMenuLeft {
    from{
        margin-left: 100px; 
    }to{
        margin-left: 65px; 
    }
}

@keyframes animationMenuLeft2 {
    from{
        margin-left: 65px; 
    }to{
        margin-left: 100px; 
    }
}

@keyframes search {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes searchLeft {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

