*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    border-radius: 5px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(51, 151, 151);
    width: 400px;
    height: 400px;
}

.resultWeek{
    width: 300px;
    height: 70px;
    background-color: rgb(211, 155, 71);
    display: flex;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px 8px 0px 0px;
}

.graphic{
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0pc 0pc 8px 8px;
}

#WEEKLY{
    padding-top: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    width: 130px;
    font-size: 14px;
    font-weight: bolder;
    color: aliceblue;
}

#date{
    font-size: 12px;
}

#result{
    margin-left: 210px;
    margin-top: -35px;
    width: 70px;
    text-align: end;
}

#revenue{
    font-size: 12px;
}

#week{
    margin-top: 160px;
    margin-left: 2px;
    display: flex;
    width: 100%;
}

#week p {
    color: gray;
    margin: 6px;
}

#viewEpurchases{
    margin-left: 150px;
    display: flex;
    position: absolute;
    font-size: 10px;
    color: gray;
}

#viewEpurchases p {
    margin-left: 25px;
}

#views {
    margin-right: -20px;
    margin-left: 20px;
    margin-top: 6px;
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 3px;
}

#purchases{
    margin-right: -20px;
    margin-left: 20px;
    margin-top: 6px;
    background-color: rgb(63, 66, 243);
    width: 10px;
    height: 3px;
}

#screengraphic{
    position: absolute;
}

#one{
    margin-top: 140px;
    margin-left: 23px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}

#onetwo{
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: red;
    margin-left: 18px;
    margin-top: -25px;
    rotate: -42deg;
}

#two{
    margin-top: -50px;
    margin-left: 67px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}

#twothree{
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: red;
    margin-left: 52px;
    margin-top: -43px;
    rotate: -59deg;
}

#three{
    margin-top: -80px;
    margin-left: 107px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}

#threefour{
    position: absolute;
    width: 65px;
    height: 2px;
    background-color: red;
    margin-left: 105px;
    margin-top: 20px;
    rotate: 48deg;  
}

#four{
    margin-top: 40px;
    margin-left: 153px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}

#fourfive{
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: red;
    margin-left: 150px;
    margin-top: 6px;
    rotate: 37deg;  
}

#five{
    margin-top: 20px;
    margin-left: 193px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}

#fivesix{
    position: absolute;
    width: 65px;
    height: 2px;
    background-color: red;
    margin-left: 183px;
    margin-top: -32px;
    rotate: -55deg;  
}

#six{
    margin-top: -60px;
    margin-left: 228px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}

#sixseven{
    position: absolute;
    width: 58px;
    height: 2px;
    background-color: red;
    margin-left: 223px;
    margin-top: 8px;
    rotate: 36deg;  
}

#seven{
    margin-top: 20px;
    margin-left: 270px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}